
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/***************************/
  /* Table of contents start */
  
  #TOC::before {
  content: "";
display: block;
height: 200px;
margin: 2em 20px 40px 20px;
background-image: url("images/logo.png");
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
    background-color: #003f75ff;
    border-color: #003f75ff;
}

/* Table of contents end */
  /*************************/